<%if (records.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>সিএইচপির নাম,ঠিকানা,মোবাইল নং</th>
        <th>নিয়োগের তারিখ</th>
        <th>সিএইচপির সহযোগিতায় স্থাপিত প্রদর্শনীর সংখ্যা</th>
        <th>মোটিভেশনের মাধ্যমে স্থাপিত বাগানের সংখ্যা</th>
        <th>প্রদর্শনীর বাগানের বর্তমান অবস্থা</th>
        <th>মন্তব্য</th>
        <th>পরিবর্তন/মুছুন</th>
    </tr>
    </thead>
    <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td><%= row.name %></td>
                <td><%= row.date %></td>
                <td><%= row.prodorshoni %></td>
                <td><%= row.bagan %></td>
                <td><%= row.proBagan %></td>
                <td><%= row.comment %></td>
                <td><a class="btn btn-primary btn-xs" href="/edit/<%= row.id %>"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger btn-xs" href="/delete/<%= row.id %>"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>সিএইচপির নাম,ঠিকানা,মোবাইল নং</th>
            <th>নিয়োগের তারিখ</th>
            <th>সিএইচপির সহযোগিতায় স্থাপিত প্রদর্শনীর সংখ্যা</th>
            <th>মোটিভেশনের মাধ্যমে স্থাপিত বাগানের সংখ্যা</th>
            <th>প্রদর্শনীর বাগানের বর্তমান অবস্থা</th>
            <th>মন্তব্য</th>
            <th>পরিবর্তন/মুছুন</th>
        </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>