<%- include('../../includes/header')-%>
        <div class="wrapper">
          <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
              <%- include('../../includes/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>সেন্টারের যোগাযোগ তথ্য ফর্ম</h2></div>
                                <p><%
                                if(success !=''){ %>
                                <%= success %>
                                    <% } %>
                                </p>
                                </div>  
                            <div class="panel-body" >
                                <form action="/pd/centerPasswordEditPost/<%=records.id%>" id="FieldTrialForm" class="form-horizontal" method="post"  role="form">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="center" class="col-md-3 control-label">সেন্টারের নাম</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="uname" placeholder="<%= records.uname %>" value="<%= records.uname %>" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="uname" class="col-md-3 control-label">ইউজার আইডি</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="user" placeholder="<%= records.user %>" value="<%= records.user %>" readonly>
                                        </div>
                                    </div>
                                        
                                    <div class="form-group">
                                        <label for="center" class="col-md-3 control-label">নতুন পাসওয়ার্ড</label>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control" name="password" placeholder="পাসওয়ার্ড" >
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    
                                        
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../../includes/footer')-%>