<%- include('../../includes/header')-%>
        <div id="wrapper" class="wrapper" >
            <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
                <%- include('../../includes/sidebar')-%>
                <div class="main-content">
                    <div class="container-fluid">
                        <div class="row clearfix">
                            <div class="col-md-10">
                                <h1 class="text-center"><%= title %></h1>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="row clearfix">
                                    <div class="col-md-4">
                                        <label for="batch">ব্যাচ :</label>
                                        <select id="batch" name="batch">
                                            <option value="">বাছুন</option>
                                            <option value="01">০১</option>
                                            <option value="02">০২</option>
                                            <option value="03">০৩</option>
                                            <option value="04">০৪</option>
                                            <option value="05">০৫</option>
                                            <option value="06">০৬</option>
                                            <option value="07">০৭</option>
                                            <option value="08">০৮</option>
                                            <option value="09">০৯</option>
                                            <option value="10">১০</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="year">অর্থবছর বাছুন:</label>

                                <select id="year" name="year">
                                    <option value="">বাছুন</option>
                                    <option value="2017">২০১৭-১৮</option>
                                    <option value="2018">২০১৮-১৯</option>
                                    <option value="2019">২০১৯-২০</option>
                                    <option value="2020" selected>২০২০-২১</option>
                                    <option value="2021">২০২১-২২</option>
                                    <option value="2022">২০২২-২৩</option>
                                    <option value="2023">২০২৩-২৪</option>
                                </select>
                                    </div>
                                    <div class="col-md-4">
                                        <!-- Button -->                                        
                                        <div>
                                        <input type="submit" id="submit" name="submit" value="রিপোর্ট দেখুন" class="btn btn-primary">   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <a href="/center/kormokortaForm" class="btn btn-success btn-group-sm ">কর্মকর্তার ও প্রশিক্ষক প্রশিক্ষণ এর ফর্ম</a>
                            </div>

                        </div>

                        <div class="table-responsive" id="output"></div>

                        <input type="button" id="btnExport" value="Download PDF" />

                        <div id="output"></div>
        <!--                    <div id="loading" class="loading"><img src="{{ asset('assets/img/icon/loading.gif') }}" alt=""></div>-->
                    </div>
                </div>
            </div>
        </div>


   
<%- include('../../includes/footer')-%>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    async function exportToPdf() {
        var year = $('#year').val();
        var batch = $('#batch').val();
        const { data } = await axios.post(`/center/generatePdfchak1`,{year:year,batch: batch});
        var mywindow = window.open("", "PRINT", "height=400,width=600");
        mywindow.document.write(data.html);
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/
        mywindow.print();
        return true;
    }
</script>
<script>
        
    $(document).ready(function(){
        
      $('.dropdown a.test').on("click", function(e){
        $(this).next('ul').toggle();
        e.stopPropagation();
        e.preventDefault();
      });
    });
</script>

<script type="text/javascript">
   
    $("body").on("click", "#btnExport", function () {
        html2canvas($('#tblCustomers')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 650
                    }]
                };
                pdfMake.createPdf(docDefinition).download("farmer-details.pdf");
            }
        });
    });

    $("#wrapper").load( "no url rn",function() {
        
        var year = new Date().getFullYear();
        var batch = $('#batch').val();

        $.ajax({
            type: "POST",
            url: "/center/kormokortaYear",
            data: {year: year,batch:batch},
            datatype: "json",
            beforeSend: function() {
                // setting a timeout
                $('#loading').show();
                $('#output').hide();

            },
            success: function (data) {
                $('#output').html(data);
                $('#tblCustomers').DataTable();
            },
            complete: function() {
                $('#loading').hide();
                $('#output').show();
            }
        });
    });

    $('#submit').on("click",function () {
        var year = $('#year').val();
        var batch = $('#batch').val();
        $.ajax({
            type: "POST",
            url: "/center/kormokortaYear",
            data: {year: year,batch:batch},
            datatype: "json",
            beforeSend: function() {
                // setting a timeout
                $('#loading').show();
                $('#output').hide();
            },
            success: function (data) {
                $('#output').html(data);
                $('#tblCustomers').DataTable();
            },
            complete: function() {
                $('#loading').hide();
                $('#output').show();
            }
        });
    });

    $(document).ready(function() {
        $('#tblCustomers').DataTable();
    } );

    

</script>