<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ক্যাডার/নন ক্যাডার কর্মমক্রতার/কর্মচারীদের নাম ও পদবী সহ শূন্য পদের তথ্য</title>

    <style>
        .flex-container {
            display: flex;

            justify-content: center
        }
        .table, td, th {
            border: 1px solid black;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
        }
        .center {
            text-align: center;
        }
        .inline-block-child {
            display: inline-block;
        }
    </style>
</head>
<body>

<div style="margin-top: 5px; padding-top: 5px; padding-bottom: 5px; background-color: #ffffffa6;" class="center">
    <div>
        <h1>ক্যাডার/নন ক্যাডার কর্মমক্রতার/কর্মচারীদের নাম ও পদবী সহ শূন্য পদের তথ্য</h1>
        <p><b>সেন্টারের নাম :</b><%= centerName.center %></p>
        <%if (records.length >0){ %>
            <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>অনিয়মিত শ্রমিক নাম</th>
                <th>ঠিকানা</th>
                <th>মোবাইল নং</th>
                <th>নিয়োগের তারিখ</th>
                <th>পরিবর্তন/মুছুন</th>
            </tr>
            </thead>
            <tbody>
                <% records.forEach(function(row){ %>
                    <tr>
                        <td><%= row.name %></td>
                        <td><%= row.adress %></td>
                        <td><%= row.mobile %></td>
                        <td><%= row.niyog %></td>
                        <td><a class="btn btn-primary btn-xs" href="/edit/<%= row.id %>"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-danger btn-xs" href="/delete/<%= row.id %>"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <% }else{ %>
            <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>অনিয়মিত শ্রমিক নাম</th>
                    <th>ঠিকানা</th>
                    <th>মোবাইল নং</th>
                    <th>নিয়োগের তারিখ</th>
                    <th>পরিবর্তন/মুছুন</th>
                </tr>
                </thead>
                <tbody>
                <% records.forEach(function(row){ %>
                    <tr>
                        <td colspan="10">No data Found</td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</div>

</body>
</html>