<%if (records.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>কাজের বিবরণ</th>
        <th>পরিমাণ(ঘনফুট/রানিংমিটার)</th>
        <th>অর্থ ব্যয়</th>
        <th>বর্তমান অবস্থা</th>
        <th>মন্তব্য</th>
        <th>পরিবর্তন/মুছুন</th>
    </tr>
    </thead>
    <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td><%= row.kaj %></td>
                <td><%= row.poriman %></td>
                <td><%= row.ortho %></td>
                <td><%= row.present %></td>
                <td><%= row.comment %></td>
                <td><a class="btn btn-primary btn-xs" href="/edit/<%= row.id %>"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger btn-xs" href="/delete/<%= row.id %>"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>কাজের বিবরণ</th>
            <th>পরিমাণ(ঘনফুট/রানিংমিটার)</th>
            <th>অর্থ ব্যয়</th>
            <th>বর্তমান অবস্থা</th>
            <th>মন্তব্য</th>
            <th>পরিবর্তন/মুছুন</th>
        </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>