<%- include('../../includes/header')-%>
        <div class="wrapper">
          <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
              <%- include('../../includes/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>প্রদর্শনী সংক্রান্ত তথ্যাদি ফর্ম</h2></div>
                                <p><%
                                if(success !=''){ %>
                                <%= success %>
                                    <% } %>
                                </p>
                                </div>  
                            <div class="panel-body" >
                                <form action="/center/apaForms" id="FieldTrialForm" class="form-horizontal" method="post"  role="form">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>

                                        
                                    <div class="form-group">
                                        <label for="ortho" class="col-md-3 control-label">অর্থ বছর</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="ortho" placeholder="অর্থ বছর">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="type" class="col-md-3 control-label">প্রদর্শনীর ধরণ</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="type" placeholder="প্রদর্শনীর ধরণ">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="date" class="col-md-3 control-label">স্থাপণের তারিখ</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="date" placeholder="স্থাপণের তারিখ">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="fol" class="col-md-3 control-label">ফল ও জাতের নাম/সংখ্যা</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="fol" placeholder="ফল ও জাতের নাম/সংখ্যা">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="jomi" class="col-md-3 control-label">জমির পরিমাণ</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="jomi" placeholder="জমির পরিমাণ">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="farmer" class="col-md-3 control-label">কৃষকের নাম ও ঠিকানা</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="farmer" placeholder="কৃষকের নাম ও ঠিকানা">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="mobile" class="col-md-3 control-label">মোবাইল নং</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="mobile" placeholder="মোবাইল নং">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="present" class="col-md-3 control-label">প্রদর্শনীর বর্তমান অবস্থা</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="present" placeholder="প্রদর্শনীর বর্তমান অবস্থা">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="saao" class="col-md-3 control-label">এসএএওর নাম ও মোবাইল নং</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="saao" placeholder="এসএএওর নাম ও মোবাইল নং">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">বছর</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="year" placeholder="বছর">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">userid</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="user_id" placeholder="id" value="<%= user_id %>" >
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    
                                        
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../../includes/footer')-%>