<%- include('../../includes/header')-%>
        <div class="wrapper">
          <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
              <%- include('../../includes/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>প্রদর্শনী কৃষক প্রশিক্ষণ ফর্ম</h2></div>
                                <p><%
                                if(success !=''){ %>
                                <%= success %>
                                    <% } %>
                                </p>
                                </div>  
                            <div class="panel-body" >
                                <form action="/center/farmerForms" id="FieldTrialForm" class="form-horizontal" method="post"  role="form">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>

                                        
                                    <div class="form-group">
                                        <label for="name" class="col-md-3 control-label">শিক্ষার্থীর নাম</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="name" placeholder="শিক্ষার্থীর নাম">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="father" class="col-md-3 control-label">শিক্ষার্থীর পিতার নাম</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="father" placeholder="শিক্ষার্থীর পিতার নাম">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="subject" class="col-md-3 control-label">প্রশিক্ষণের বিষয়</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="subject" placeholder="প্রশিক্ষণের বিষয়">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="date" class="col-md-3 control-label">প্রশিক্ষণের তারিখ</label>
                                        <div class="col-md-9">
                                            <input type="date" class="form-control" name="date" placeholder="প্রশিক্ষণের তারিখ">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="phone" class="col-md-3 control-label">শিক্ষার্থীর ফোন নাম্বার</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="phone" placeholder="শিক্ষার্থীর ফোন নাম্বার">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="nid" class="col-md-3 control-label">শিক্ষার্থীর এনআইডি নাম্বার</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="nid" placeholder="শিক্ষার্থীর এনআইডি নাম্বার">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="kname" class="col-md-3 control-label">শনাক্তকারীর নাম</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="kname" placeholder="শনাক্তকারীর নাম">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="kpodobi" class="col-md-3 control-label">শনাক্তকারীর পদবী</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="kpodobi" placeholder="শনাক্তকারীর পদবী">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="kmobile" class="col-md-3 control-label">শনাক্তকারীর মোবাইল নং</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="kmobile" placeholder="শনাক্তকারীর মোবাইল নং">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="batch" class="col-md-3 control-label">ব্যাচ নং</label>
                                        <div class="col-md-9">
                                            <label for="batch">Choose a batch no:</label>
                                        <select id="batch" name="batch" required>
                                            <option value="">Choose batch</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                        </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">বছর</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="year" placeholder="বছর" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">userid</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="user_id" placeholder="id" value="<%= user_id %>" >
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    
                                        
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../../includes/footer')-%>