<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ক্যাডার/নন ক্যাডার কর্মমক্রতার/কর্মচারীদের নাম ও পদবী সহ শূন্য পদের তথ্য</title>

    <style>
        .flex-container {
            display: flex;

            justify-content: center
        }
        .table, td, th {
            border: 1px solid black;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
        }
        .center {
            text-align: center;
        }
        .inline-block-child {
            display: inline-block;
        }
    </style>
</head>
<body>

<div style="margin-top: 5px; padding-top: 5px; padding-bottom: 5px; background-color: #ffffffa6;" class="center">
    <div>
        <h1>ক্যাডার/নন ক্যাডার কর্মমক্রতার/কর্মচারীদের নাম ও পদবী সহ শূন্য পদের তথ্য</h1>
        <%if (records.length >0){ %>
            <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>কাজের বিবরণ</th>
                <th>পরিমাণ(ঘনফুট/রানিংমিটার)</th>
                <th>অর্থ ব্যয়</th>
                <th>বর্তমান অবস্থা</th>
                <th>মন্তব্য</th>
            </tr>
            </thead>
            <tbody>
                <% records.forEach(function(row){ %>
                    <tr>
                        <td><%= row.kaj %></td>
                        <td><%= row.poriman %></td>
                        <td><%= row.ortho %></td>
                        <td><%= row.present %></td>
                        <td><%= row.comment %></td>
                       
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <% }else{ %>
            <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>কাজের বিবরণ</th>
                    <th>পরিমাণ(ঘনফুট/রানিংমিটার)</th>
                    <th>অর্থ ব্যয়</th>
                    <th>বর্তমান অবস্থা</th>
                    <th>মন্তব্য</th>
                    <th>পরিবর্তন/মুছুন</th>
                </tr>
                </thead>
                <tbody>
                <% records.forEach(function(row){ %>
                    <tr>
                        <td colspan="10">No data Found</td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</div>

</body>
</html>