<%- include('../../includes/header')-%>
        <div class="wrapper">
          <%- include('../../includes/topbar')-%>
            <div class="page-wrap">
              <%- include('../../includes/sidebar')-%>
              <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">
                    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title"><h2>মোটিভেশনের মাধ্যমে বাগান স্থাপনকারী চাষীদের তালিকার ফর্ম</h2></div>
                                <p><%
                                if(success !=''){ %>
                                <%= success %>
                                    <% } %>
                                </p>
                                </div>  
                            <div class="panel-body" >
                                <form action="/center/motivationForms" id="FieldTrialForm" class="form-horizontal" method="post"  role="form">
                                    <div id="signupalert" style="display:none" class="alert alert-danger">
                                        <p>Error:</p>
                                        <span></span>
                                    </div>

                                        
                                    <div class="form-group">
                                        <label for="farmer" class="col-md-3 control-label">কৃষকের নাম</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="farmer" placeholder="কৃষকের নাম">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="address" class="col-md-3 control-label">ঠিকানা</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="address" placeholder="ঠিকানা">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="mobile" class="col-md-3 control-label">মোবাইল নং</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="mobile" placeholder="মোবাইল নং">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="bagan" class="col-md-3 control-label">স্থাপিত বাগানের ধরণ</label>
                                        <div class="col-md-9">
                                        <input type="text" class="form-control" name="bagan" placeholder="স্থাপিত বাগানের ধরণ">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="jomi" class="col-md-3 control-label">বাগানে জমির পরিমাণ</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="jomi" placeholder="বাগানে জমির পরিমাণ">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="comment" class="col-md-3 control-label">মন্তব্য</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="comment" placeholder="মন্তব্য">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">বছর</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="year" placeholder="বছর">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="year" class="col-md-3 control-label">userid</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="user_id" placeholder="id" value="<%= user_id %>" >
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="submit" class="btn btn-primary">   
                                        </div>
                                    </div>
                                    
                                    
                                        
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../../includes/footer')-%>